@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-50: #fff4ed;
  --color-primary-100: #ffe7d5;
  --color-primary-200: #ffcaa9;
  --color-primary-300: #ffa572;
  --color-primary-400: #fd6c2e;
  --color-primary-500: #fc5013;
  --color-primary-600: #ec350a;
  --color-primary-700: #c4240a;
  --color-primary-800: #9c1e10;
  --color-primary-900: #7d1c11;
  --color-primary-950: #440b06;

  /* Define secondary color as a single value (optional, you can add shades too) */
  --color-secondary: #ecc94b;
}

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 0 !important;
  margin: 0 !important;
  margin-inline: auto !important;
  max-width: 100% !important;
}

body {
  margin: 0;
  @apply bg-primary-50/75;
}

p {
  @apply opacity-75;
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  a,
  a[role="button"]:not([aria-disabled="true"]) {
    @apply cursor-pointer hover:text-primary-500 transition-all duration-200 ease-in-out;
  }

  .button-base {
    @apply w-fit px-5 md:px-6 py-2.5 rounded-md transition-all duration-200 ease-in-out font-semibold;
  }
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}
