@import "tailwindcss";

@theme {
  --color-primary-50: #fff4ed;
  --color-primary-100: #ffe7d5;
  --color-primary-200: #ffcaa9;
  --color-primary-300: #ffa572;
  --color-primary-400: #fd6c2e;
  --color-primary-500: #fc5013;
  --color-primary-600: #ec350a;
  --color-primary-700: #c4240a;
  --color-primary-800: #9c1e10;
  --color-primary-900: #7d1c11;
  --color-primary-950: #440b06;
}

:root {
  font-family:
    "Poppins",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Arial",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body {
    @apply bg-primary-50/50 text-slate-700;
    margin: 0;
  }

  #root {
    padding: 0 !important;
    margin: 0 !important;
    margin-inline: auto !important;
    max-width: 100% !important;
    min-height: 100dvh;
  }

  p {
    @apply opacity-75;
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  a,
  a[role="button"]:not([aria-disabled="true"]) {
    @apply cursor-pointer hover:text-primary-500 transition-all duration-200 ease-in-out;
  }

  .button-base {
    @apply w-fit px-5 md:px-6 py-2.5 rounded-md transition-all duration-200 ease-in-out font-semibold;
  }
}
